EMAIL_HOST_USER=a0978435327@gmail.com
EMAIL_HOST_PASSWORD=你的應用程式密碼
CONTACT_EMAIL=收信的email
OPENAI_API_KEY=sk-proj-
NGROK_TOKEN=
WEATHER_LOCATION_NAME=雲林口湖水井村
WEATHER_LATITUDE=23.57
WEATHER_LONGITUDE=120.18
